<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>YOUR COOKBOOK</title>
	<link rel="stylesheet" href="https://bootswatch.com/lumen/bootstrap.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='custom.css' ) }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
    $(document).ready(function(){
        $("#fade1").fadeIn(1000);
        $("#fade2").fadeIn(2000);
        $("#fade3").fadeIn(3000);
        
    });
    </script>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">

<div class="container-fluid header">
    <img class="img-header" src="/static/logo/header.png" alt="YOUR COOKBOOK">
</div>

<nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="150">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="{{url_for('render_index')}}">YOUR COOKBOOK</a>
    </div>
    <div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Your Recipes <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{{url_for('render_index')}}">All recipes</a></li>
                <li><a href="{{url_for('render_starter')}}">Starter/Soup</a></li>
                <li><a href="{{url_for('render_main_course')}}">Main course</a></li>
                <li><a href="{{url_for('render_dessert')}}">Dessert</a></li>
            </ul>
          </li>
          <li><a href="{{url_for('render_new_recipe')}}">Create New Recipe</a></li>
        </ul>
        <form class="navbar-form navbar-left" action="{{url_for('render_search')}}" method='POST'>
            <div class="form-group">
                <input type="text" name="search" class="form-control" placeholder="Search recipes">
            </div>
            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> Search</button>
        </form>
      </div>
    </div>
  </div>
</nav>

<div class="container-fluid">
    <div class="row recipe-header" id='fade1'>
        <h2>{{recipe.name}}</h2>
        <div id='fade2' class="col-sm-6 div-picture">
            <img src="/static/img/{{recipe.image}}" alt="Image">
        </div>
        <div id='fade3' class="col-sm-6 div-recipe">
            <h4>Ingredients</h4>
            <p class="ingredients">{{recipe.ingredients}}</p>
            <h4>Recipe</h4>
            <p class="recipe">{{recipe.recipe}}</p>
        </div>

     </div>
</div> 
</body>
</html>